{% extends 'base.html' %}


{% block content %}
<ul class="menu">
    <li class="menu-item"><a class="item" href="{% url 'index:sheet-preview' %}">Home</a></li>
    <li class="menu-item"><a class="item" href="{% url 'sheets:sheet-list' %}">Sheet</a></li>
    {% if request.user.is_authenticated %}
    <li class="menu-item"><a class="item" href="{% url 'account_logout' %}">Logout</a></li>
    
    {% else %}
    <li class="menu-item"><a class="item" href="{% url 'account_login' %}">Login</a></li>
    <li class="menu-item"><a class="item" href="{% url 'account_signup' %}">Signup</a></li>
    {% endif %}
</ul>
<div class="abc">
<h1>Previous order</h1>
<hr />

<table class="table table-hover table-bordered text-center">

    <tr class="text-center">
        <th>no.</th>
        <th>Reference code</th>
        <th>Amount</th>
        <th>Date</th>

    </tr>
    {% for order in orders %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ order.ref_code }}</td>
        <td>฿{{ order.get_total }}</td>
        <td>{{ order.payment_set.first.date_paid }}</td>


    </tr>
    {% empty %}
    <tr>
        <td colspan="4">You have not purchase anything</td>
    </tr>

    {% endfor %}
    
    
    
</table>
</div>

{% endblock content %}