{% extends "account/base.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load cart_template_tags %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}


<ul class="menu">
    <li class="menu-item"><a class="item" href="{% url 'index:sheet-preview' %}">Home</a></li>
    <li class="menu-item"><a class="item" href="{% url 'sheets:sheet-list' %}">Sheet</a></li>
    {% if request.user.is_authenticated %}
    <li class="menu-item"><a class="item" href="{% url 'account_logout' %}">Logout</a></li>
    
    {% else %}
    <li class="menu-item"><a class="item" href="{% url 'account_login' %}">Login</a></li>
    <li class="menu-item"><a class="item" href="{% url 'account_signup' %}">Signup</a></li>
    {% endif %}
</ul>

<div class="container">
<div class="padding-top">
<h1>{% trans "Sign Out" %}</h1>

<p>{% trans 'Are you sure you want to sign out?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
</form>
</div>
</div>
{% endblock %}
